@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<IS_Turizmas.Models.Marsrutai>
@{
    ViewData["Title"] = "Mano maršrutai";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Mano sukurtų maršrutų langas</h1>
    </div>
    <div class="col-md-10 mx-auto">
        <div class="row">
        <div class="col-md-6"><a asp-action="CreateRouteDescription">Kurti naują maršrutą</a></div>
        <div class="col-md-6 text-md-right"><a asp-action="CalculateRouteUniqueness">Apskaičiuoti maršruto unikalumo indeksą</a></div>
        </div>
    </div>
    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pavadinimas</th>
                    <th scope="col">Sukūrimo data</th>
                    <th scope="col">Modifikavimo data</th>
                    <th scope="col">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                @for(var i=0; i < Model.Count; i++)
                {
                <tr>
                    <th>@(i+1)</th>
                    <td>@Html.DisplayFor(model => Model[i].Pavadinimas)</td>
                    @{ string formatedValue = Model[i].SukurimoData.ToShortDateString(); }
                    <td>@Html.DisplayFor(model => formatedValue)</td>
                    @{ formatedValue = Model[i].ModifikavimoData.ToShortDateString(); }
                    <td>@Html.DisplayFor(model => formatedValue)</td>
                    <td>
                        <a asp-controller="Content" asp-action="ViewRouteInfo">Maršruto informacija</a> | 
                        <a asp-action="EditRouteDescription" asp-route-id="@Model[i].Id">Redaguoti aprašymą</a> | 
                        @if (Model[i].MarsrutoObjektai.Count > 0) {<a asp-action="EditRouteObjects" asp-route-id="@Model[i].Id">Redaguoti objektus</a>} else {<a asp-action="AddRouteObjects" asp-route-id="@Model[i].Id">Pridėti objektus</a> } | 
                        @if (Model[i].MarsrutoObjektai.Count > 0) {<a asp-action="ViewMap" asp-route-id="@Model[i].Id"> Žemėlapis</a> @Html.Raw("|")} 
                        <a class="deleteLink" data-id="@Model[i].Id" data-toggle="modal" data-target="#deleteConfirmation">Šalinti</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!--Delete confirmation window-->
    <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="Delete confirmation window" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmation">Šalinimo patvirtinimas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Ar tikrai norite ištrinti maršrutą?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Atšaukti</button>
                    <form class="deleteForm" method="POST" asp-action="DeleteRoute">
                        <input id="deleteID" name="id" type="hidden" value="" />
                        <button type="submit" class="btn btn-danger" >Šalinti</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
