@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using IS_Turizmas.Models
@model List<IS_Turizmas.Models.Marsrutai>
@{
    ViewData["Title"] = "FoundRoutes";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Visų sistemos maršrutų langas</h1>
    </div>
    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pavadinimas</th>
                    <th scope="col">Sukūrimo data</th>
                    <th scope="col">Reitingas</th>
                    <th scope="col">Autorius</th>
                    <th scope="col">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < ViewBag.searchedRoutes.Count; i++)
                {
                    <tr>
                        <th>@(i+1)</th>
                        <td>@ViewBag.searchedRoutes[i].Pavadinimas</td>
                        @{ string formatedValue = ViewBag.searchedRoutes[i].SukurimoData.ToShortDateString(); }
                        <td>@Html.DisplayFor(model => formatedValue)</td>
                        @{ formatedValue = ViewBag.searchedRoutes[i].ModifikavimoData.ToShortDateString(); }
                        <td>@Html.DisplayFor(model => formatedValue)</td>
                        <td>
                            @*<a asp-controller="Content" asp-action="ViewRouteInfo">Maršruto informacija</a> |
                            <a asp-action="EditRouteDescription" asp-route-id="@ViewBag.searchedRoutes[i].Id">Redaguoti aprašymą</a> |*@
                            @*@if (ViewBag.searchedRoutes[i].MarsrutoObjektai.Count > 0)
                            {<a asp-action="EditRouteObjects" asp-route-id="@Model[i].Id">Redaguoti objektus</a>}
                            else
                            {<a asp-action="AddRouteObjects" asp-route-id="@Model[i].Id">Pridėti objektus</a>} |
                            @if (Model[i].MarsrutoObjektai.Count > 0)
                            {<a asp-action="ViewMap" asp-route-id="@Model[i].Id"> Žemėlapis</a> @Html.Raw("|")}
                            <a class="deleteLink" data-id="@Model[i].Id" data-toggle="modal" data-target="#deleteConfirmation">Šalinti</a>*@
                        </td>
                    </tr>
                }

                <!--@foreach (Marsrutai res in ViewBag.searchedRoutes)
    {
    <tr>
        <td>@res.Pavadinimas</td>
        <td>2020-11-04</td>
        <td>?</td>
        <td><a asp-controller="User" asp-action="Index">Vardenis420</a></td>
        <td><a asp-action="ViewRouteInfo">Maršruto informacija</a> | <a asp-controller="Routes" asp-action="ViewMap"> Žemėlapis</a></td>
    </tr>

        }-->
                @*
                    <tr>
            <th>1</th>
            <td><a>Kaunas-Baltstogė-Varšuva-Kaunas</a></td>
            <td>2020-11-03</td>
            <td>4.0/5.0</td>
            <td><a asp-controller="User" asp-action="Index">Vardenis420</a></td>
            <td><a asp-action="ViewRouteInfo">Maršruto informacija</a> | <a asp-controller="Routes" asp-action="ViewMap"> Žemėlapis</a></td>
        </tr>
        <tr>
            <th>2</th>
            <td>Vilnius-Kaunas-Vilnius</td>
            <td>2020-11-04</td>
            <td>3.0/5.0</td>
            <td><a asp-controller="User" asp-action="Index">Vardenis420</a></td>
            <td><a asp-action="ViewRouteInfo">Maršruto informacija</a> | <a asp-controller="Routes" asp-action="ViewMap"> Žemėlapis</a></td>
        </tr>*@
            </tbody>
        </table>
    </div>
}

