@model IS_Turizmas.Models.Marsrutai
@{
    ViewData["Title"] = "ViewRouteInfo";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Maršruto informacija</h1>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }
    </div>


    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">Pavadinimas</th>
                    <th scope="col">Sukūrimo data</th>
                    <th scope="col">Reitingas</th>
                    <th scope="col">Autorius</th>
                    <th scope="col">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @*<th>@(i+1)</th>*@
                    <td>@Html.DisplayFor(model => Model.Pavadinimas)</td>
                    @{ string formatedValue = Model.SukurimoData.ToShortDateString(); }
                    <td>@Html.DisplayFor(model => formatedValue)</td>
                    <td>Reitingas ?</td>
                    <td>Autorius ?</td>
                    <td>
                        <a asp-action="ShareRoute">Dalintis</a>
                        | <a asp-action="Comment" asp-route-id="@Model.Id">Rašyti komentarą</a>
                        | <a asp-action="Rate" asp-route-id="@Model.Id">Suteikti reitingą</a>
                    </td>
                    @*<a asp-action="EditRouteDescription">Redaguoti aprašymą</a> |
        @if (Model[i].MarsrutoObjektai.Count > 0)
        {<a asp-action="EditRouteObjects" asp-route-id="@Model[i].Id">Redaguoti objektus</a>}
        else
        {<a asp-action="AddRouteObjects" asp-route-id="@Model[i].Id">Pridėti objektus</a>} |
        @if (Model[i].MarsrutoObjektai.Count > 0)
        {<a asp-action="ViewMap" asp-route-id="@Model[i].Id"> Žemėlapis</a>} |
        <a asp-action="Index" data-toggle="modal" data-target="#deleteConfirmation">Šalinti</a>*@
                    @*</td>*@
                </tr>
                
                @*<tr>
                    <td><a>Kaunas-Baltstogė-Varšuva-Kaunas</a></td>
                    <td>2020-11-03</td>
                    <td>4.0/5.0</td>
                    <td><a asp-controller="User" asp-action="Index">Vardenis420</a></td>
                    <td><a asp-action="ShareRoute">Dalintis</a> 
                    | <a asp-action="Comment">Rašyti komentarą</a> 
                    | <a asp-action="Rate">Suteikti reitingą</a></td>
                </tr>*@
            </tbody>
        </table>
        <div class="row">
            <h3>Aprašymas</h3>
            <div class="col-12 my-3">
                Aprašymo duomenys
            </div>
            <h3>Maršruto objektai</h3>
            <div class="col-12">
                <ol>
                    <li>Kaunas</li>
                    <li>Balstogė</li>
                    <li>Varšuva</li>
                    <li>Kaunas</li>
                </ol>
            </div>
            <h3>Komentarai</h3>
            <div class="col-12 border rounded">
                Labai šaunus maršrutas!
            </div>
        </div>
    </div>
    <br />
}
