@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<IS_Turizmas.Models.Marsrutai>
@{
    ViewData["Title"] = "AllRoutes";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Visų sistemos maršrutų langas</h1>
    </div>
    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pavadinimas</th>
                    <th scope="col">Sukūrimo data</th>
                    <th scope="col">Reitingo vidurkis</th>
                    <th scope="col">Autorius</th>
                    <th scope="col">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <th>@(i+1)</th>
                        <td>@Html.DisplayFor(model => Model[i].Pavadinimas)</td>
                        @{ string formatedValue = Model[i].SukurimoData.ToShortDateString(); }
                        <td>@Html.DisplayFor(model => formatedValue)</td>
                        <td>@Model[i].GetRatingAverage()</td>
                        <td>
                            <a asp-action="Index" asp-controller="User" asp-route-id="@Model[i].FkRegistruotasVartotojasNavigation.Id">
                                @Model[i].FkRegistruotasVartotojasNavigation.Vardas
                                @Model[i].FkRegistruotasVartotojasNavigation.Pavarde
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Content" asp-action="ViewRouteInfo" 
                               asp-route-id="@Model[i].Id">Maršruto informacija</a>
                        </td>
                    </tr>
                }                
            </tbody>
        </table>
    </div>
}
