@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using IS_Turizmas.Models
@model List<IS_Turizmas.Models.Reklamos>
@{
    ViewData["Title"] = "Delete Advert Plan";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Mano planai</h1>
    </div>
    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Pavadinimas</th>
                    <th scope="col">Veiksmas</th>
                </tr>
                @for (var i = 0; i < Model.Count; i++)
                {
                    @if (Model[i].ReklamosPlanai.Count > 0)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => Model[i].Id)</td>
                            <td>@Html.DisplayFor(model => Model[i].Pavadinimas)</td>
                            <td>Šalinimas</td>
                        </tr>
                        @foreach (ReklamosPlanai planas in ViewBag.ReklamosPlanai)
                        {
                            @if (planas.FkReklama == Model[i].Id)
                            {
                                <tr>
                                    <td>Nuo: @planas.Laikas_nuo</td>
                                    <td>Iki: @planas.Laikas_iki</td>
                                    <td><a asp-action="AdvertPlanDelete" asp-route-id="@planas.Id">Šalinti</a></td>
                                </tr>
                            }
                            @foreach (ReklamavimoLaikai laikas in ViewBag.ReklamavimoLaikai)
                            {
                                @if (laikas.FkReklamosPlanas == planas.Id)
                                {
                                    <tr>
                                        <td>Nuo: @laikas.ValandaNuo</td>
                                        <td>Iki: @laikas.ValandaIki</td>
                                        <td>H</td>
                                    </tr>
                                }
                            }
                        }
                    }
                }
            </thead>
        </table>
    </div>
}
